/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');




/* Root Variables */
:root {
    --bg-color: #f1f1f1;
    --text: #414141;
    --white: #fff;
    --bluebg: #bcd1e7;
    --active: #001F3F;
    --active-light: #BCD1E7;
    --normal: #555555;
    --hover-line: #001f3f; /* Line color for animation */
}

/* General Navbar Styling */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

/* Navigation Links */
.navlinks {
    list-style: none;
    display: flex;
    margin: 0;
    align-items: center; /* Center-aligns the items vertically */
    justify-content: center; /* Center-aligns the items horizontally */
    flex: 1; /* Ensures the nav items take up space proportionally */
  /* Even spacing between elements */
}



.navlinks li {
    position: relative;
    margin: 0 15px;
}

.navlinks li a {
    text-decoration: none;
    color: #757575;
    font-weight: 500;
    font-family: 'Lexend Deca', sans-serif;
}

.navlinks li a:hover {
    color: #001f3f;
}

/* Dropdown Styling */

.navlinks li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
    z-index: 20;
}
.navlinks li:hover .dropdown {
    display: block;
}


.dropdown li {
    padding: 5px 15px;
    position: relative; /* For animation line */
}

.dropdown li a {
    color: #757575;
    font-size: 14px;
    text-decoration: none;
}


.navlinks li .dropdown li a {
    padding: 10px 20px;
    display: block;
    color: #757575;
}

/* Line Animation for Dropdown Links */
.dropdown li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--hover-line);
    transition: width 0.5s ease-in-out;
}

.dropdown li a:hover::after {
    width: 100%;
}

/* Register Button */
.Registerbutton a {
    text-decoration: none;
}
.Registerbutton {
    position: relative;
    padding-left: 10px;
    margin-left: auto; /* Pushes button to the right edge */
}

.Registerbutton a {
    text-decoration: none;
}

#button {
    background-color: #001f3f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}
.Registerbutton #button:hover {
    
    background-color: #bcd1e7;
    color: black;
}

.backgroundmain {
    position: relative;
    text-align: left;
    color: white;
}
.backgroundmain img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

/* Overlay container */
.overlay {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
    font-family: "Bebas Neue";
}

.title {
    font-size: 30px;
    color: #414141;
    margin-bottom: 30px;
    text-align: left;
    letter-spacing: 5px;
  
    margin: 0;

}
.subtitle {
    font-size: 65px;
    font-weight: 400;
    color: #003a6b;
    letter-spacing: 7%;
    text-align: left;
    margin-top: 45px;
}
.datemain{
    font-size: 2.5em;
    margin: 30px 0;
    text-align: left;
    color: #555555;
}@media (max-width: 768px) {
    .navlinks {
        flex-direction: column;
        align-items: center;
    }
    .navlinks li {
        margin: 10px 0;
    }
    .overlay {
        left: 5%;
    }
    .title {
        margin-top: 20%;
        font-size: 1.5em;
        margin-bottom: 0%;
    }
    .subtitle {
        margin-top: 5%;
        font-size: 2em;
    }
    .datemain {
        margin-top: 2%;
        font-size: 1.2em;
    }
    .heading{
        font-size: 1.5em;
    }
    .para {
        font-size: 1em;
    }
}

.aboutpsgct {
    padding: 5%;
    background-color: white ;
    margin-top: 10%;
    font-family: Roboto;
    line-height: 160%;
    font-size: 20px;
    color: var(--text);
    text-align: justify;

}
.heading{
    color:#003366;
    padding-bottom: 10px;
    font-family: Bebas Neue;
    font-size:40px ;
}

.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.arrow:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}



.aboutauto{
    padding: 5%;
    /*background-color: var(--bluebg) ;*/
    background-image: url(images/bggrad.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:top;
    font-family: Roboto;
    font-size: 20px;
    color: var(--text);
    text-align: justify;
}
.aboutcuicar{
    background-image: url(images/bggradtwo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
    background-color: var(--white) ;
    font-family: Roboto;
    font-size: 20px;
    color: var(--text);
    text-align: justify;
}
.abouttheconf{
    padding: 5%;
    font-family: Roboto;
    font-size: 20px;
    color: var(--text);
    text-align: justify;

}

.scopecontainer {
    background-image: url(images/bggrad.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5%;
    
}
.text-section {
    flex: 1;
    padding-right: 20px;
}
.parascope{
    padding: 0;
    font-family: Roboto;
    font-size: 20px;
    color: var(--text);
    text-align: justify;}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 300px) 
{
    .scopecontainer {
        flex-direction: column;
    }
    .text-section {
        padding-right: 0;
        padding-bottom: 20px;
    }
}

.glassbg {
position: absolute;
width: 596.48px;
height: 131.46px;
left: 79px;
top: 3829.01px;

background: #BCD1E7;
opacity: 0.41;
border-radius: 9px;
}
.dates-container {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('images/datesbg.jpg') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding: 50px;
}
.titledates {
    font-size: 40px;
    color: white;
    font-family: "Bebas Neue";
    margin-bottom: 30px;
}
.dates {
    display: flex;
    justify-content: center;
    gap: 120px;
    flex-wrap: wrap;
}
.date-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: left;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.date-box img {
    width: 40px;
    height: 40px;
}
.date-box .label {
    font-size: 1.2em;
    font-family: "Lexend Deca";
    margin-top: 10px;
    color: white;
}
.date-box .date {
    font-family: "Bebas Neue";
    font-size: 1.5em;
    margin-top: 5px;
    color: white;
}



/*oc*/
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
	    font-family: "Lexend Deca";
            
        }
	.container img{
	    margin-top:0;
	    height:300px;
	    padding:0 0 0 0 ;}

        .member {
	    padding-top:50px;
	    padding-right:0px; 	
            margin: 20px;
            text-align: center;
	    padding-left: 5px;

        }
        .member img {
            width: 150px;
            height: 200px;
            border-radius: 15px;
        }
        .member h3 {
	    align-items:center;
            margin: 10px 0 5px;
            font-size: 18px;
            font-weight: bold;
        }
        .member p {
            margin: 5px 0;
            font-size: 14px;
        }
        .member .title {
            text-transform: uppercase;
            display: block;
            width: 100%;
            text-align: center;
        }
        .chief {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .others {
            width: 100%;
            display: flex;
            justify-content: center;
        }
 @media (max-width: 768px) {
            .others {
                flex-direction: column;
                align-items: center;
            }
            .member {
                margin: 10px 0;
            }
        }
.role {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #1a1a1a;
}

.name {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    color: #1a1a1a;
}

.position {
    padding-top: 10px;
    font-family: "Roboto";
    font-size: 12px;
    color: #666666;
}

.ocbackground {
    width: 100%;
    height: 50%;
    top: 80%;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.octitle {
    margin-top:60px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #001F3F;
    letter-spacing: 2px;
    text-align: center; /* Aligns the text to the center */
}

.ostitle {
    margin-top:1px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #001F3F;
    letter-spacing: 2px;
    text-align: center; /* Aligns the text to the center */
}

.oscontainer {
    padding: 20px;
    position: relative;
    z-index: 1;
}

.member1 {
    margin: 20px;
    margin-top: 0%;
    text-align: center;
}

.member1 img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}
.osbackground {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 80%;
    bottom: 0;
    left: 0;
    z-index: 0;
}



  .thematic {
            font-family: 'Lexend Deca', sans-serif;
            background-color: #ffffff;
            margin: 0;
            padding: 0;
        }
        .thematiccontainer {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }
        .theader {
            text-align: center;
            background-color: #d3eafc;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .theader h1 {
            margin: 0;
            font-size: 24px;
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }
        .card {
            position: relative;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            text-align: center;
        }
        .card img {
            width: 550px;
            height: 400px;
        }
        .card h2 {
            font-size: 18px;
            margin: 10px 0;
            padding: 0 10px;
        }
        .toverlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 31, 63, 0.8);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s ease;
            
        }
        .card:hover .toverlay {
            opacity: 1;
        }



 .callcontainer {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding-top: 50px;
        }
        .callcontainer {
            width: 100%;
	    
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .header {
            text-align: center;
            padding: 20px 0;
            position: relative;
        }
        .header img {
            max-width: 100px;
            height: auto;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .header button {
            background-color: #001f3f;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
            border-radius: 10px;
        }
        .header button:hover {
            background-color: #001a35;
        }
        .content {
            padding: 20px 50px 0 50px;
        }
        .content h2 {
            text-align: center;
            color: #001f3f;
        }
        .content p {
            line-height: 1.6;
            margin: 10px 0;
        }
        .content ul {
            list-style-type: disc;
            padding-left: 20px;
        }
        .content ul li {
            margin: 10px 0;
        }
        .content .buttons {
            text-align: center;
            margin: 20px 0;
        }
        .content .buttons button {
            background-color: #001f3f;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            margin: 10px;
            border-radius: 10px;
        }
        .content .buttons button:hover {
            background-color: #001a35;
        }

   .bdy {
            margin: 0;
            font-family: 'Lexend Deca', sans-serif;
            background: url('images/bgauth.jpg') no-repeat center center fixed;
            background-size: cover;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            flex-direction: column;
        }
        .wrapper {
            text-align: center;
            padding: 20px;
        }
        .header {
            background-color: rgba(90, 155, 212, 0.8);
            padding: 10px 20px;
            border-radius: 20px;
            display: inline-block;
            margin-bottom: 40px;
        }
        .header h1 {
            margin: 0;
            font-size: 24px;
            font-family: 'Bebas Neue', cursive;
            line-height: 1.5;
	    color:#001a35;
        }
        .committee-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
	    padding: 20px 50px; 
        }
        .committee-card {
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(10px);
            padding: 20px 50px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .committee-card h2 {
            margin-top: 0;
            font-size: 18px;
            font-weight: 700;
        }
        .committee-card p {
            margin: 10px 0 0;
            font-size: 14px;
        }
          .center-card {
            
            backdrop-filter: blur(10px);
            
	    font-size: 14px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 300px;
            margin: 0 auto;
        }



   .fotr {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .ftr {
            background-color: #f8f9fa;
            padding: 20px;
        }

        .fheader {
            display: flex;
            justify-content: space-around;
            background-color: #0d1b2a;
            padding: 20px 0;
            color: white;
        }

        .fheader div {
            text-align: center;
        }

        .fheader img {
            width: 200px;
            height: auto;
        }

        .fcontent {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
        }

        .contact-info {
            text-align: center;
        }

        .contact-info h2 {
            margin-bottom: 20px;
        }

        .contact-info ul {
            list-style: none;
            padding: 0;
        }

        .contact-info li {
            margin: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contact-info img {
            margin: 0 10px;
            width:300px;
	    height: 300px;
            color: black; /* Set the color of the icons to black */
        }

        .contact-info .social-icons {
            display: flex;
            justify-content: center;
        }

        .contact-info .social-icons i {
            margin: 0 10px;
            color: black; /* Ensure the color of the social icons is black */
        }

        .footer {
            text-align: center;
            padding: 10px;
            background-color: #ffffff;
            font-size: 14px;
        }

        @media (max-width: 768px) {
            .fheader, .fcontent {
                flex-direction: column;
            }
            .fheader img, .fcontent iframe {
                width: 100%;
            }
        }
.tabsection {
            font-family: 'Lexend Deca', sans-serif;
           
        }
        .containertab {
            width: 90%;
            max-width: 800px;
            background-color: #FFFFFF;
            padding: 20px;
            padding-bottom:20px;
            text-align: center;
            margin: auto;
        }
        h1 {
            font-family: 'Bebas Neue', cursive;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
            color: #001F3F;
 	    text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: center;
            border: 1px solid #E0E0E0;
        }
        th {
	    font-family: 'Lexend Deca', sans-serif;background-color: #2C3E50;
            color: #FFFFFF;
        }
        th:nth-child(2), th:nth-child(4) {
            background-color: #A3C1DA;
        }
        th:nth-child(3) {
            background-color: #2C3E50;
        }
        td {
            background-color: #FFFFFF;
        }
        tr:nth-child(even) td {
            background-color: #F9F9F9;
        }
        @media (max-width: 600px) {
            th, td {
                padding: 10px;
                font-size: 14px;
            }
            h1 {
                font-size: 28px;
            }
        }